<% if current_user.role_id == "User" %>
	<script>window.location.replace("/");</script>
<% end %>
<h2>Complétez votre profil <%= current_user.role_id %></h2>


<%= simple_form_for(@user, html: { class: 'form-horizontal' }, method: :patch) do |f| %>
<%= devise_error_messages! %>

<%= f.input :email %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<%= f.input :nom %>
<%= f.input :facebook %>
<%= f.input :twitter %>
<%= f.input :instagram %>
<%= f.input :description %>
<%= f.input :adresse %>
<%= f.input :phone %>
<%= f.button :submit %>

<% end %>

<h3>Je complèterai mon profil plus tard</h3>
<%= link_to 'Ma page', @user %>
