<% if current_user.role_id == "User" %>
	<script>window.location.replace("/");</script>
<% end %>
<div class="formNew">
<h2>Complétez votre profil <%= current_user.role_id %></h2>
<div id="separator"></div>


<%= simple_form_for(@user, html: { class: 'form-horizontal' }, method: :patch) do |f| %>
<%= devise_error_messages! %>

<%= f.input :email %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <% unless current_user.role_id == "User" %>
        <%= f.input :nom %>
        <%= f.input :facebook %>
        <p>https://www.facebook.com/<strong>FacebookFrance</strong></p>
        <%= f.input :twitter %>
        <p>https://twitter.com/<strong>twitter</strong></p>
        <%= f.input :instagram %>
       <p>https://www.instagram.com/<strong>instagram</strong></p>
        <%= f.input :description %>
            <% if current_user.role_id == "Pro" %>
                <%= f.input :adresse %>
                <%= f.input :phone, label: 'Téléphone' %>
            <% end %>
    <% end %>
<%= f.button :submit, 'Enregistrer les modifications' %>

<% end %>
<div id="separator"></div>
<h3>Je complèterai mon profil plus tard</h3>
<%= link_to 'Ma page', @user %>
</div>
