<% content_for :meta_title, "Homepage" %>
<% content_for :meta_description, "Description" %>
<div class="formNew">
    <div>
        <h1><%= @artist.nom %></h1>

        <p>
        <% if @artist.role_id == "Pro" %>
            Professionnel
        <% else %>
            Artiste
        <% end %>
        </p>
    </div>

	<div class="icon" style="background-color:black;"><a href="https://www.facebook.com/<%= @artist.facebook %>"><%= image_tag "facebook-logo.png" %></a></div>
	<div class="icon" style="background-color:black;"><a href="https://twitter.com/<%= @artist.twitter %>"><%= image_tag "twitter-logo.png" %></a></div>
	<div class="icon" style="background-color:black;"><a href="https://www.instagram.com/<%= @artist.instagram %>"><%= image_tag "instagram.png" %></a></div>


<% if @artist.id == current_user.id %>
<%= link_to 'Modifier mon profil', '/my_account' %>
<% end %>
</div>