<div class="contact-form">
   <h3 id="titleCon"><strong>Nous envoyer un message</strong></h3>
   <div id="separator"></div>
   <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
     <div class="input">
       <%= f.input :nom, :required => true %>
       <%= f.input :email, :required => true %>
       <%= f.input :message, :as => :text, :required => true %>
     </div>
     <div class= "hidden">
       <%= f.input :nickname, :hint => 'Laisser ce champ blanc!' %>
     </div>
     <div>
       </br>
       <%= f.button :submit, 'Envoyer votre message', :class=> "btn btn-primary" %>
     </div>
   <% end %>
 </div>
