<% content_for :meta_title, "Contactez nous - Comp'Arts la plateforme artistique de Bordeaux" %>
<% content_for :meta_description, "Par ici si vous avez des questions par rapport à l'intérêt ou le fonctionnement de notre plateforme. Suggestion, critique, témoignage, nous répondrons à tout" %>
<div class="contact-form">
   <h3 id="titleCon"><strong>Nous envoyer un message</strong></h3>
   <div id="separator"></div>
<%# content_for :meta_image, cloudinary_url(@offer.photo.path) %>
<div align="center">

   <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
     <div class="input">
       <%= f.input :nom, :required => true %>
       <%= f.input :email, :required => true %>
       <%= f.input :message, :as => :text, :required => true %>
     </div>
     <div class= "hidden">
       <%= f.input :nickname, :hint => 'Laisser ce champ blanc!' %>
     </div>
     <div>
       </br>
       <%= f.button :submit, 'Envoyer votre message', :class=> "btn btn-primary" %>
     </div>
   <% end %>
 </div>
