<nav>
<ul>
	<!-- intégrer le logo-->
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Artistes', users_path %></li>
	<li><%= link_to 'Articles', articles_path %></li>
	<li><%= link_to 'A propos', about_path %></li>
	<li><%= link_to 'Se connecter', new_user_registration_path %></li>
</ul>
</nav>