<!DOCTYPE html>
<html>
  <head>
    <title>Comparts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
<% if user_signed_in? %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% else %>
<%= link_to('Login', new_user_session_path)  %> 
<% end %>

  <body>
  	<%= render "layouts/navbar" %>
    <%= yield %>
  </body>
  <%= render "layouts/footer" %>
</html>
