<!DOCTYPE html>
<html>
  <head>
    <title>Comparts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>
  <body>
  	<%= render "layouts/navbar" %>
    <%= yield %>
  </body>
  <%= render "layouts/footer" %>
</html>
